<div class="portlet-body">
    <div class="client-phone">
        <div class="client-phone__code">
            +7
        </div>
        <div class="client-phone__input"></div>
        <div class="client-phone__mask">9041234567</div>
        <input type="hidden" id="phone-number">
    </div>
</div>