<div class="row">
	<div class="col-md-4 col-sm-6">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-dark">
					<i class="icon-bag font-green-sharp "></i>
			        <span class="caption-subject bold uppercase">Новая услуга</span>
		        </div>
		        <div class="actions">
		        	{{#link-to "service.index" class="btn btn-default"}}
						<i class="fa fa-arrow-left"></i>
						Назад
					{{/link-to}}
		        </div>
			</div>
			<div class="portlet-body form">
				{{service-form service=model.service masters=model.masters subservices=model.subservices serviceToGroup=model.serviceToGroup serviceGroup=model.serviceGroup}}
			</div>
		</div>
	</div>
</div>