<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption font-dark">
			<i class="icon-bag font-green-sharp"></i>
	        <span class="caption-subject">Услуги</span>
        </div>
	</div>
	<div class="portlet-body">
		<div class="table-toolbar">
			<div class="row">
				<div class="col-md-6">
					{{#link-to "service.create" class="btn btn-primary"}}
						<span class="fa fa-plus"></span>
						Добавить
					{{/link-to}}
				</div>
				<div class="col-md-6"></div>			 
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{service-list list=model}}
			</div>
		</div>
	</div>
</div>