<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-dark">
			<i class="icon-bag font-green-sharp "></i>
	        <span class="caption-subject bold uppercase">Услуги</span>
        </div>
        <div class="actions">
        	{{#link-to "service.create" class="btn btn-success"}}
				<i class="fa fa-plus"></i>
				Добавить
			{{/link-to}}
        </div>
	</div>
	<div class="portlet-body">
		<div class="row">
			<div class="col-md-12">
				{{service-list list=model}}
			</div>
		</div>
	</div>
</div>