@mixin comma-separated($selector, $defaultSkin: true) {
    #{$selector} {
        display: inline-block;

        &:after {
            content: ", ";
            white-space: pre-wrap;
        }

        &:last-of-type {
            &:after {
                content: "";
            }
        }
    }

    @if $defaultSkin != false {
        @include comma-separated-skin($selector);
    }
}

@mixin comma-separated-skin($selector) {
    #{$selector} {}
}
