<a class="dashboard-stat dashboard-stat-v2 {{color}}" href="#">
	<div class="visual">
		<i class= {{icon}}></i>
	</div>
	<div class="details">
		<div class="number">
			<span>{{stat}}</span>
		</div>
		<div class="desc">{{desc}}</div>
	</div>
</a>