<div class="row">
	<div class="col-md-8 col-sm-10">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-dark">
					<i class="icon-bag font-green-sharp "></i>
					<span class="caption-subject bold uppercase">{{model.service.name}}</span>
				</div>
			</div>
			<div class="portlet-body form">
				{{service/service-form 
					service=model.service 
					allMasters=model.masters 
					subservices=model.subservices 
					serviceGroup=model.serviceGroup}}
			</div>
		</div>
	</div>
</div>