<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-dark">
			<i class="icon-bag font-green-sharp "></i>
			<span class="caption-subject bold uppercase">{{t "service.list.label"}}</span>
		</div>
		<div class="actions">
			{{#link-to "auth.service.create" class="btn btn-success" }}
				<i class="fa fa-plus"></i>
				{{t "button.create"}}
			{{/link-to}}
		</div>
	</div>
	<div class="portlet-body">
		<div class="row">
			<div class="col-md-12">
				{{service/service-list list=model}}
			</div>
		</div>
	</div>
</div>