<h1 class="page-title">Услуги</h1>

 {{#link-to "service.create" class="btn btn-primary"}}
	<span class="fa fa-plus"></span>
	Добавить
{{/link-to}}

<table class="table table-hover">
	<thead>
		<tr>
			<th>Название</th>
			<th class="text-right">Стоимость</th>
			<th class="text-right">Время</th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |service|}}
			<tr>
				<td>
					{{service.name}}
					{{#if service.partOfList}}
						<span class="label label-info">подуслуга</span>
					{{/if}}
				</td>
				<td class="text-right">{{service.time}}&nbsp;₽</td>
				<td class="text-right">{{service.cost}}&nbsp;мин.</td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{outlet}}