<div class="row">
    <div class="col-md-7">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-clock font-green-sharp "></i>
                    <span class="caption-subject bold uppercase">Режим работы мастера</span>
                </div>
                <div class="actions">
                    <button class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        Добавить
                    </button>
                </div>
            </div>
            <div class="portlet-body form">
                {{master/master-schedule workTimes=model}}
            </div>
        </div>
    </div>
</div>