{{master-schedule/days-of-week daysOfWeek=daysOfWeek workTimes=workTimes currentWorkTimes=currentWorkTimes isDayEmpty=isDayEmpty}}
{{#master-schedule/schedule-info currentWorkTimes=currentWorkTimes isDayEmpty=isDayEmpty}}
    <button class="btn btn-default pull-right">Настроить</button>
{{/master-schedule/schedule-info}}
{{master-schedule/time-picker}}