 {{#each-in times as |dayOfWeek times|}}
<div>{{moment-format dayOfWeek "dddd" "d"}}</div>
<div class="row">
    <div class="col-md-10">
        <div class="progress">
            {{#each times as |time|}}
            <div class="progress-bar {{time.css}}" style="width: {{time.now}}%">
                {{time.range}}
            </div>
            {{/each}}
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default pull-right">
            <i class="fa fa-cog"></i>
        </button>
    </div>
</div>

{{/each-in}}