 {{#each-in times as |dayOfWeek times|}}
<div>{{moment-format dayOfWeek "dddd" "d"}}</div>
<div class="row">
    <div class="col-md-10">
        {{master-schedule/work-time-item times=times}}
    </div>
    <div class="col-md-2">
        <button class="btn btn-default pull-right">
            <i class="fa fa-cog"></i>
        </button>
    </div>
</div>

{{/each-in}}