.showItem {
	animation: fromTop 0.35s;
	animation-fill-mode: forwards;
}

@keyframes fromTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50% {
	  opacity: 0.3;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}