.ticket-info-client-top {
    font-size: 24px;

    &__code {
        position: absolute;
        left: -15px;
    }

    &__input {
        position: absolute;
        z-index: 99;
        background: #fff;
        padding-right: 1px;
        left: 15px;
    }

    &__mask {
        color: #e0e0e0;
        margin-left: 15px;
    }

    &__phone {
        position: relative;
        width: 140px;
        margin: 0 auto;
    }
}