<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class=" icon-layers font-green"></i>
            <span class="caption-subject font-green sbold uppercase">Поиск</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-2">Статус записи</label>
                    <div class="col-md-10">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input class="toggle" type="radio">Новые</label>
                            <label class="btn btn-default">
                                <input class="toggle" type="radio">Подтвержденные</label>
                            <label class="btn btn-default">
                                <input class="toggle" type="radio">Отмененные</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>