html,
body {
	height: 100%;
	width: 100%;
}

body>.ember-view {
	height: 100%;
}

.datepicker,
.timepicker {
	display: none;
}

.sortable-item {
	&.is-dragging {
		background-color: #fcfcfc;
		z-index: 1000;
	}
}

.control-label {
	white-space: nowrap;
}
