html,
body {
	height: 100%;
	width: 100%;
}

body>.ember-view {
	height: 100%;
}

.datepicker,
.timepicker {
	display: none;
}

.btn {
	&-borderless {
		border: none;
	}
}

.portlet-body {
	position: relative;
	height: 47vh;
	overflow-y: auto;
	overflow-x: hidden;
}