.login {
	height: 100%;
	width: 100%;

	.logo {
		padding: 60px 0 20px 0;
		text-align: center;

		img {
			height: 25px;
			width: auto;
		}
	}
	.content {
		background: url(/img/bg-white-lock.png) repeat;
		width: 360px;
		margin: 0 auto;
		margin-bottom: 0px;
		padding: 30px;
		padding-top: 20px;
		padding-bottom: 15px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
		h3,
		h4 {
			color: #eee;
		}
		p,
		label {
			color: #fff;
		}
	}
	.mt-checkbox>span:after {
		border-color: #eee;
	}
	.content {
		.login-form,
		.forget-form {
			padding: 0px;
			margin: 0px;
		}
		.form-control {
			background-color: #fff;
		}
		.forget-form,
		.register-form {
			display: none;
		}
		.form-title {
			font-weight: 300;
			margin-bottom: 25px;
		}
		.form-actions {
			background-color: transparent;
			clear: both;
			border: 0px;
			padding: 0px 30px 25px 30px;
			margin-left: -30px;
			margin-right: -30px;
		}
		.forget-form .form-actions {
			border: 0;
			margin-bottom: 0;
			padding-bottom: 20px;
		}
		.register-form .form-actions {
			border: 0;
			margin-bottom: 0;
			padding-bottom: 0px;
		}
		.form-actions {
			.rememberme {
				margin-top: 8px;
				display: inline-block;
			}
			.btn {
				margin-top: 1px;
			}
		}
		.forget-password {
			margin-top: 25px;
		}
		.create-account {
			border-top: 1px dotted #eee;
			padding-top: 10px;
			margin-top: 15px;
			a {
				display: inline-block;
				margin-top: 5px;
			}
		}
		.select2-container i {
			display: inline-block;
			position: relative;
			color: #ccc;
			z-index: 1;
			top: 1px;
			margin: 4px 4px 0px -1px;
			width: 16px;
			height: 16px;
			font-size: 16px;
			text-align: center;
		}
		.has-error .select2-container i {
			color: #b94a48;
		}
		.select2-container a span {
			font-size: 13px;
			img {
				margin-left: 4px;
			}
		}
	}
	.copyright {
		text-align: center;
		margin: 0 auto;
		padding: 10px;
		color: #eee;
		font-size: 13px;
	}
}














/* select2 dropdowns */


/* footer copyright */

@media (max-width: 480px) {
	/***
Login page
***/
	.login {
		.logo {
			margin-top: 10px;
		}
		.content {
			padding: 30px;
			width: 222px;
			h3 {
				font-size: 22px;
			}
		}
		.checkbox {
			font-size: 13px;
		}
	}
}
