<!-- BEGIN LOGO -->
<div class="logo">
    <img src="/assets/pages/img/logo-big.png" alt="" />
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    {{login-form}}
    <!-- END LOGIN FORM -->
</div>
<!-- END LOGIN -->
