<!-- BEGIN LOGO -->
<div class="logo">
    <img src="/img/nova-logo-light.svg" alt="" />
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    {{login-form}}
    <!-- END LOGIN FORM -->
</div>
<!-- END LOGIN -->
