<form {{action 'authenticate' on='submit'}}>
    <label for="identification">Login</label>
    {{input id='identification' class="form-control" placeholder='Enter Login' value=identification}}
    <label for="password">Password</label>
    {{input id='password' class="form-control" placeholder='Enter Password' type='password' value=password}}
    <button class="btn btn-primary" type="submit">Login</button>
</form>
