{{#power-select options=subservices selected=selectedSubservice searchField="name" onchange=(action "selectSubservice") as |subservice| }}
	<div>
		{{subservice.name}}
	</div>
	<div>
		<span class="label label-info">
			{{subservice.cost}}&nbsp;<i class="fa fa-rouble"></i>
		</span>
		<span class="label label-info">
			{{subservice.time}}&nbsp;мин.
		</span>
	</div>
{{/power-select}}