<table class="table">
	<thead>
		<tr>
			<td class="col-sm-1"></td>
			<td class="col-sm-7">Услуга</td>
			<td class="col-sm-3">Перерыв</td>
			<td class="col-sm-1">
				<button type="button" class="btn btn-default" {{action "addServiceToGroup"}} disabled={{isRowAddingDisabled}}>
					<i class="fa fa-plus"></i>
				</button>
			</td>
		</tr>
	</thead>
	<tbody>
		{{#each servicesToGroup as |serviceToGroup|}}
			{{subservice-list-row serviceToGroup=serviceToGroup serviceList=subservices}}
		{{/each}}
	</tbody>
</table>