<table class="table">
	<thead>
		<tr>
			<td></td>
			<td>Услуга</td>
			<td>Перерыв</td>
			<td>
				<button type="button" class="btn btn-default" {{action "addSubserviceRow"}}>
					<i class="fa fa-plus"></i>
				</button>
			</td>
		</tr>
	</thead>
		{{subservice-list-row subservices=subservices}}
		{{#if addRow}}
			{{subservice-list-row subservices=subservices}}
		{{/if}}
</table>