<div class="row ticket-info-top ticket-info-client-top hidden">
    <div class="col-md-12 text-center">
        {{#if client.id}}
            <p>{{client.firstname}} {{client.secondname}}</p>
        {{/if}}
        <div class="ticket-info-client-top__phone">
            <span class="ticket-info-client-top__code">
                +7
            </span>
            <div class="ticket-info-client-top__input">{{phone}}</div>
            <div class="ticket-info-client-top__mask">9041234567</div>
        </div>
    </div>
</div>
{{yield}}