<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-scissors font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo">Мастер</span>
    </div>
    <div class="actions">
        {{ticket-direction-btn direction="left" elemSelector="#ticket-client" stepSelector="#client-step"}}
        {{ticket-direction-btn direction="right" elemSelector="#ticket-services" stepSelector="#services-step"}}
    </div>
</div>
<div class="portlet-body ticket-portlet-body">
    <div class="grid">
        <div class="mt-element-card mt-element-overlay">
            <div class="row">
                {{#each masters as |master|}}
                    <div class="col-md-4 col-lg-3">
                    {{log master}}
                        {{ticket-master-card master=master}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>