{{#if selectedMaster}}
    <div class="ticket-info__item ticket-info-master">
            <!-- <img class="img-circle ticket-info-master__img" src="https://image.flaticon.com/icons/svg/522/522401.svg"> -->
            <!-- onError="this.src='https://image.flaticon.com/icons/svg/522/522401.svg'" -->
            <div>
                <i class="fa fa-scissors font-red-sunglo margin-right-10"></i>
            </div>
            <div class="ticket-info-bottom__text">{{selectedMaster.fullname}}</div>
    </div>
{{/if}}