<div class="ticket-info-bottom ticket-info-cost hidden">
    <div>
        <i class="icon-wallet font-red-sunglo margin-right-10"></i>
    </div>
    {{!-- <div class="ticket-info-bottom__text">{{cost}} , {{time}} мин.</div> --}}
<div>
    <span class="ticket-info-bottom__text">{{cost}}</span><i class="fa fa-ruble"></i>,
    <span class="ticket-info-bottom__text">{{time}}</span> мин.
 </div>

</div>