 {{!-- {{#if ticketDate}} --}}
<div class="ticket-info__item ticket-info-date {{if ticketDate "showItem" ""}}">
    <div>
        <i class="icon-calendar font-red-sunglo margin-right-10"></i>
    </div>
    <div>
        {{moment-format ticketDate 'Do MMMM YYYY' 'DD.MM.YYYY' allow-empty=true}},
        {{ticketTime}}
    </div>
</div>
{{!-- {{/if}} --}}