{{#if selectedServices}}
    <div class="ticket-info__item ticket-info-services">
        <div>
            <i class="icon-bag font-red-sunglo margin-right-10"></i>
        </div>
        <div>
            {{#each selectedServices as |selectedService|}}
                <span>{{selectedService.name}}, </span>
            {{/each}}
        </div>
    </div>
{{/if}}