<div class="ticket-info__item ticket-info-master {{if selectedMaster " animate-from-top " " "}}">
    <div>
        <i class="fa fa-scissors font-red-sunglo margin-right-10"></i>
    </div>
    <div>{{selectedMaster.fullname}}</div>
</div>