{{#if cost}}
<div class="ticket-info__item ticket-info-cost">
    <div>
        <i class="icon-wallet font-red-sunglo margin-right-10"></i>
    </div>
    <div>
        <span class="ticket-info-bottom__text">{{cost}}</span> ₽,
        <span class="ticket-info-bottom__text">{{time}}</span> мин.
    </div>
</div>
{{/if}}