<div class="ticket-info-bottom ticket-info-services hidden">
    <div>
        <i class="icon-bag font-red-sunglo margin-right-10"></i>
    </div>
    <div class="ticket-info-bottom__text">
        {{#each selectedServices as |selectedService|}}
            <span>{{selectedService.name}}, </span>
        {{/each}}
    </div>
</div>