<div class="row ticket-info-top ticket-info-date-top hidden">
    <div class="col-md-12 text-center">
        {{log ticketDate}}
        <h4>{{moment-format ticketDate 'Do MMMM YYYY' 'DD.MM.YYYY' allow-empty=true}}</h4>
    </div>
</div>
{{yield}}