<div class="ticket-info-client">
    <div class="ticket-info-client__code">
        +7
    </div>
    <div class="ticket-info-client__input"></div>
    <div class="ticket-info-client__mask">9041234567</div>
    <input type="hidden" id="phone-number">
</div>