<div class="ticket-info-bottom ticket-info-services hidden">
    <div>
        <i class="icon-bag font-red-sunglo margin-right-10"></i>
    </div>
    <div class="ticket-info-bottom__text">
        <ul class="list-unstyled no-space">
            {{#each selectedServices as |selectedService|}}
                <li>{{selectedService.name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
{{yield}}