<div class="ticket-info-master">
    <h3>
        <img class="img-circle ticket-info-master__img" src="" onError="this.src='https://image.flaticon.com/icons/svg/522/522401.svg'">
        <span class='ticket-info-master__name'></span>
    </h3>
</div>
{{yield}}