<div class="tile bg-grey-cararra" onclick={{action 'toggleMaster' master}}>
    <div class="corner"></div>
    <div class="check"></div>
    <div class="tile-body font-dark">
        {{ticket-master-image master.imgSrc}}
    </div>
    <div class="tile-object">
        <div class="name font-dark">{{master.fullname}}</div>
    </div>
</div>