<div class="mt-element-card mt-element-overlay ticket-info-top ticket-info-master-top hidden">
    <div class="row">
        <div class="col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2">
            <div class="mt-card-item">
                <div class="mt-card-avatar mt-overlay-1">
                    <img src="" class="ticket-info-master__img">
                </div>
                <div class="mt-card-content">
                    <h3 class="mt-card-name ticket-info-master__name"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
{{yield}}