<div class="row ticket-info-top ticket-info-services-top hidden">
    <div class="col-md-12">
        <ul class="list-unstyled no-space">
            {{#each selectedServices as |selectedService|}}
                <li>{{selectedService.name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
{{yield}}