<div id="ticket-date" class="portlet light bordered right-panel {{if (not-eq activeStep "#date-step") "hidden"}}">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-calendar font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo">Выбор даты</span>
        </div>
    </div>
    <div class="portlet-body ticket-portlet-body">
        <input id="ticket-date-picker" class="datepicker" onchange={{action 'onTicketDateChange' value='target.value'}}/>
    </div>
</div>