<div class="portlet-title">
    <div class="caption">
        <i class="icon-calendar font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo">Дата</span>
    </div>
    <div class="actions">
        {{ticket-direction-btn direction="left" elemSelector="#ticket-services" stepSelector="#services-step"}}
        {{ticket-direction-btn direction="right" elemSelector="#ticket-time" stepSelector="#time-step"}}
    </div>
</div>
<div class="portlet-body ticket-portlet-body">
	{{input id="ticket-date-picker" class="datepicker"}}
    <input type="text" id="ticket-date-input" hidden value="">
</div>
