.client-phone {
    position: relative;
    font-size: 24px;

    &__input {
        position: absolute;
        bottom: 0;
        left: 32px;
        z-index: 99;
        background: #fff;
    }

    &__mask {
        position: absolute;
        bottom: 0;
        left: 32px;
        color: #e0e0e0;;
    }
}