<div class="login">
	<!-- BEGIN LOGO -->
	<div class="logo">
	    <a href="index.html">
	        <img src="../assets/pages/img/logo-big.png" alt="" /> </a>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
	    <!-- BEGIN LOGIN FORM -->
	    {{login-form}}
	    <!-- END LOGIN FORM -->
	</div>
	<!-- END LOGIN -->
</div>