<div class="row">
    <div class="col-md-6">
        {{#ticket-modal/ticket-modal-footer-btn class="btn-default pull-left" event=event}}
            <i class="glyphicon glyphicon-trash"></i>
            Удалить
        {{/ticket-modal/ticket-modal-footer-btn}}
    </div>
    <div class="col-md-6">
        {{#if (eq event.data.status "NEW")}}
            {{#ticket-modal/ticket-modal-footer-btn class="btn-danger"}}
                <i class="glyphicon glyphicon-remove"></i>
                Отклонить
            {{/ticket-modal/ticket-modal-footer-btn}}
            {{#ticket-modal/ticket-modal-footer-btn class="btn-success"}}
                <i class="glyphicon glyphicon-ok"></i>
                Подтвердить
            {{/ticket-modal/ticket-modal-footer-btn}}
        {{else}}
            &nbsp;
        {{/if}}
    </div>
</div>