<div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-default pull-left">
            <i class="glyphicon glyphicon-trash"></i>
            Удалить
        </button>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i>
            Отклонить
        </button>
        <button type="button" class="btn btn-success">
            <i class="glyphicon glyphicon-ok"></i>
            Подтвердить
        </button>
    </div>
</div>