<div class="form-group">
    <div class="input-icon">
        <i class="fa fa-key"></i>
        {{input class="form-control placeholder-no-fix" type="tel" autocomplete="off" placeholder="Code" name="code" maxlength=6}}
        {{input type="hidden" id="requestId" name="requestId" value=code}}
    </div>
</div>
<div class="form-actions">
    <button type="submit" class="btn btn-success uppercase pull-right" {{action 'checkCode'}}>Завершить</button>
</div>