<div class="form-group">
    <div class="input-icon">
        <i class="fa fa-key"></i>
        {{input class="form-control placeholder-no-fix" type="tel" autocomplete="off" placeholder="Code" name="code" maxlength=6}}
        {{input type="hidden" id="requestId" name="requestId"}}
    </div>
</div>