<!-- BEGIN HEADER -->
<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		{{#link-to "auth"}}
			<img src="/img/nova-logo-light.svg" alt="logo" class="logo-default" />
		{{/link-to}}
		<div class="menu-toggler sidebar-toggler">
			<span></span>
		</div>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		<span></span>
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN TOP NAVIGATION MENU -->
	<div class="top-menu">
		<ul class="nav navbar-nav pull-right">
			<!-- BEGIN USER LOGIN DROPDOWN -->
			<li class="dropdown dropdown-user">
				{{#link-to "auth.master.edit" currentUser.user.id class="dropdown-toggle" }}
					<img alt="" class="img-circle" src="" />
					<span class="username">{{currentUser.user.firstname}}</span>
				{{/link-to}}
			</li>
			<!-- END USER LOGIN DROPDOWN -->
			<!-- BEGIN QUICK SIDEBAR TOGGLER -->
			<li class="dropdown dropdown-quick-sidebar-toggler">
				<a {{action 'invalidateSession'}} class="dropdown-toggle">
					<i class="icon-logout"></i>
				</a>
			</li>
			<!-- END QUICK SIDEBAR TOGGLER -->
		</ul>
	</div>
	<!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->