<div id="ticket-master" class="portlet light bordered right-panel {{if (not-eq activeStep "#master-step") "hidden"}}">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-scissors font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo">Выбор мастера</span>
        </div>
    </div>
    <div class="portlet-body ticket-portlet-body">
        <div class="tiles">
            {{#each masters as |master|}}
                {{ticket-create/ticket-master-card master=master}}
            {{/each}}
        </div>
    </div>
</div>