<div class="ticket-info__item ticket-info-master {{if ticket.master " animate-from-top " " "}}">
    <div>
        <i class="fa fa-scissors font-red-sunglo margin-right-10"></i>
    </div>
	{{log "master info" ticket.master}}
    <div>{{ticket.master.fullname}}</div>
</div>