<div id="ticket-date" class="portlet light bordered right-panel ticket-portlet {{if (not-eq activeStep "#date-step") "hidden"}}">
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject font-red-sunglo">{{t "ticket.date.choose"}}</span>
		</div>
	</div>
	<div class="portlet-body ticket-portlet-body">
		<input id="ticket-date-picker" class="datepicker" onchange= {{action "onTicketDateChange" value="target.value"}}>
	</div>
</div>