<div id="ticket-time" class="portlet light bordered right-panel {{if (not-eq activeStep "#time-step") "hidden"}}">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-red-sunglo">Выбор времени</span>
        </div>
    </div>
    <div class="portlet-body ticket-portlet-body">
        <input id="ticket-time-picker" class="timepicker" onchange={{action 'onTicketTimeChange' value='target.value'}}/>
    </div>
</div>