.master-schedule {
    display: table;
    width: 100%;

    &__days-list {
        padding: 0;
    }

    &__days {        
        list-style: none;
        display: inline-block;
    }

    &__day-title {
        margin-bottom: 5px;
    }

    &__time-btn-wrapper {
        margin-bottom: 5px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__time-day {

    }
}