.service-list {
	&__master {
		white-space: nowrap;

		&:after {
			content: ", ";
			white-space: pre-wrap;
		}

		&:last-of-type {
			&:after {
				content: "";
			}
		}
	}

	&__actions {
		white-space: nowrap;
	}
}
