.ticket-phone-btn{
    margin: 2px 4px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 18px;
    border: 1px solid #2f353b;
    background-color: #fff;

/*    &:focus {
        background-color: #fff;
        color: #2f353b;
    }*/

/*    &:hover {
        background-color: #2f353b !important;
        color: #fff !important;
    }*/

    &:active {
        background-color: #2f353b;
        color: #fff;
    }
}