.info-top {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.info-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    padding-top: 20px;
    border-top: 1px solid #e7ecf1;
}