.work-time-item {
    &__progress-bar {
        position: relative;

        &_empty {
            cursor: default;
        }
    }

    &__remove {
        position: absolute;
        right: 8px;
        top: 0;
        cursor: pointer;
    }
}