<table id="master-list" class="table table-hover dataTables">
	<thead>
		<tr>
			<th>Имя</th>
			<th>Телефон</th>
			<th>E-mail</th>
			<th class="text-right"></th>
		</tr>
	</thead>
	<tbody>
		{{#each list as |master|}}
			<tr>
				<td>{{master.fullname}}</td>
				<td>{{master.phone}}</td>
				<td>{{master.email}}</td>
				<td class="text-right">
					{{#link-to "auth.master.work-time" master.id class="btn btn-default"}}
						<i class="fa fa-clock-o"></i>
					{{/link-to}}
					{{#link-to "auth.master.edit" master.id class="btn btn-default"}}
						<i class="fa fa-pencil"></i>
					{{/link-to}}
					 <button type="button" class="btn btn-danger" {{action 'delete' master.id}}>
						<i class="fa fa-trash"></i>
					</button>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>