<div class="master-schedule__days">
    <ul class="master-schedule__days-list">
        {{#each daysOfWeek as |dayOfWeek|}}
        <li class="master-schedule__day-of-week">
            <button class="btn btn-default master-schedule__btn" onclick={{action 'onTimeButtonClick' dayOfWeek}}>
                {{moment-format dayOfWeek "ddd" "d"}}
            </button>
        </li>
        {{/each}}
    </ul>
</div>
<div class="master-schedule__time">
    {{#if isWorkDay}}
        <input id="master-schedule__time-picker" class="timepicker" onchange={{action 'onTimeChange' value='target.value'}}/>
    {{else}}
        <div class="alert alert-info">
            Рабочее время не настроено.
        </div>
    {{/if}}
</div>