<div class="row">
    <div class="col-md-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-clock font-green-sharp "></i>
                    <span class="caption-subject bold uppercase">{{master.fullname}}</span>
                </div>
            </div>
            <div class="portlet-body form">
                {{#each-in workTimesByDayOfWeek as |dayOfWeek workTimes|}}
                    {{#each workTimes as |workTime|}}
                        {{master/work-time-row dayOfWeek=dayOfWeek workTime=workTime}}
                    {{/each}}
                {{/each-in}}
            </div>
        </div>
    </div>
</div>