<h1 class="page-title">Создание записи</h1>

<div class="portlet light">
<div class="portlet-title">
    <div class="caption">
        Какой-то тайтл
    </div>
</div>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form action="#" class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Клиент</label>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <i class="fa fa-user"></i>
                        <!-- <input type="text" class="form-control"> -->
                        <select class="selectpicker form-control" data-live-search="true" data-none-results-text="не найдено">
                          <option>Клиент 1</option>
                          <option>Клиент 2</option>
                          <option>Клиент 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Мастер</label>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <i class="fa fa-scissors"></i>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Услуги</label>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <i class="fa fa-plus-square"></i>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Дата</label>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <i class="fa fa-calendar-o"></i>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group last">
                <label class="col-md-3 control-label">Время</label>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <i class="fa fa-clock-o"></i>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <!-- <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button> -->
                    <button type="submit" class="btn green">Записать</button>
                </div>
            </div>
        </div>
    </form>
    <!-- END FORM-->
</div>
</div>
{{outlet}}
