<div class="portlet light portlet-fit bordered calendar">
    <div class="portlet-title"></div>
    <div class="portlet-body">
        {{ticket-list/ticket-calendar events=model.events resources=model.resources}}
    </div>
</div>

{{log model.resources}}
{{log model.events}}