<div class="portlet light portlet-fit bordered calendar">
    <div class="portlet-title">
        <div class="caption">
            <i class=" icon-calendar font-green"></i>
            <span class="caption-subject font-green sbold uppercase">Записи</span>
        </div>
    </div>
    <div class="portlet-body">
        {{ticket-list/ticket-calendar tickets=model}}
    </div>
</div>