<div class="login">
    <div class="logo">
        <img src="/img/nova-logo-light.svg" alt="" />
    </div>
    <div class="content">
        {{business/register-form business=model.business master=model.master}}
    </div>
    <div class="copyright"> 2018 © Nova </div>
</div>