<i class="fa fa-pause"></i>

{{#if session.isAuthenticated}}
	{{#link-to 'protected'}}Protected page{{/link-to}}
	<button {{action 'invalidateSession'}} type="button">Logout</button>
{{else}}
	{{#link-to 'login'}}Login{{/link-to}}
{{/if}}
	{{outlet}}
